@model UrlShortenerMVCApp.TagHelpers.GetUrlHelper

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="row">
        
        <a href="@Html.DisplayFor(model => model.GeneratedUrl)" class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneratedUrl)
        </a>
        
        
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
