@model UrlShortenerMVCApp.TagHelpers.GetUrlHelper

@{
    ViewData["Title"] = "GenerateUrl";
}

<h1>Generate url</h1>
<hr />
<div>
    
    
    

        Url: 
        <input type="text" class="form-control" value="@Html.DisplayFor(model => model.GeneratedUrl)"  id="url" readonly>
        </input>
        <br />
        <button class="btn btn-secondary"  onclick="CopyUrl()">Copy</button>

        <script>
            CopyUrl = () => {
                let urlToCopy = document.getElementById("url");
                urlToCopy.select();
                urlToCopy.setSelectionRange(0, 99999);
                document.execCommand("copy");
            }
           
        </script>

    
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
